<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymelead.org/thymeleaf-extras-springsecurity5">
<head>
<title>Ruokalista app | By Unkkis</title>
<meta charset="UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div th:insert="navbar :: navbar">  </div>
	<div class="container">
		<div class="row justify-content-start">
			<div class="col-lg-8">
				<h3>Tässä voit lisätä uuden reseptin</h3>
			</div>
		</div>
	</div>
	<div class="container">
		<form th:object="${recipe}" th:action="@{save}" method="post">
		<div class="row">
		<div class="col-7">
			<div class="form-group">
				<label for="name">Reseptin nimi</label> <input type="text"
					th:field="*{name}" class="form-control"
					placeholder="Anna reseptin nimi">
					<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
			</div>
			<div class="form-group">
				<label for="category">Kategoria</label> <select id="category"
					th:field="*{category}" class="form-control">
					<option th:each="category: ${categories}" th:value="${category.id}"
						th:text="${category.name}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="cooking_time">Valmistusaika</label> <input type="text"
					th:field="*{cookingTime}" class="form-control"
					placeholder="Anna valmistusaika minuuteissa">
					<span class="text-danger" th:if="${#fields.hasErrors('cookingTime')}" th:errors="*{cookingTime}">Error</span>
			</div>
			<div class="form-group">
				<label for="preparation">Valmistusohjeet</label> <input type="text"
					th:field="*{preparation}" class="form-control"
					placeholder="Kerro miten ruoka valmistetaan">
					<span class="text-danger" th:if="${#fields.hasErrors('preparation')}" th:errors="*{preparation}">Error</span>
			</div>
			<div class="form-group">
				<label for="linkToWebpage">Anna linkki reseptin sivulle, jos semmoinen on</label>
				<input type="text" th:field="*{linkToWebpage}" class="form-control"	placeholder="Esim. www.jussin-makoisat-herkut.fi" value="">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
			</div>
			<div class="col-3">
				<div class="form-group">
					<label for="ingredients">Valitse alta ainesosat:</label> 
					<select size="20" th:field="*{foodIngredients}" name="ingredients" id="ingredients" class="form-control" multiple>
						<option th:each="ingredient: ${ingredients}" th:value="${ingredient.id}" th:text="${ingredient.name}"></option>
					</select>
					<label for="newIngredients">Jos ainesosaa ei ole listalla, syötä se alle. Erota useammat pilkulla.</label>
					<input type="text" name="newIngredients" th:field="*{newIngredients}" class="form-control">
				</div>
			</div>
			</div>
		</form>
	</div>
<script>
jQuery('option').mousedown(function(e) {
    e.preventDefault();
    jQuery(this).toggleClass('selected');
  
    jQuery(this).prop('selected', !jQuery(this).prop('selected'));
    return false;
});
</script>
</body>
</html>