<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymelead.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Ruokalista app | By Unkkis</title>
	<meta charset="UTF-8" />
 	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<div class="row justify-content-start">
		<div class="col-lg-4">
			<a href="/logout" class="btn btn-primary">Kirjaudu ulos</a>
			<a href="/main" class="btn btn-primary">Etusivulle</a>
		</div>
		<div class="col-lg-8">
			<h3>Tässä voit lisätä uuden reseptin</h3>
		</div>
	</div>
</div>
<div class="container">
	<form th:object="${recipe}" th:action="@{save}" method="post">
  <div class="form-group">
    <label for="name">Reseptin nimi</label>
    <input type="text" th:field="*{name}" class="form-control" placeholder="Anna reseptin nimi">
  </div>
  <div class="form-group">
    <label for="category">Kategoria</label>
    <select id="category" th:field="*{category}" class="form-control">
    	<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
  </div>
  <div class="form-group">
    <label for="cooking_time">Valmistusaika</label>
    <input type="text" th:field="*{cookingTime}" class="form-control" placeholder="Anna valmistusaika minuuteissa">
  </div>
  <div class="form-group">
  	<select th:field="*{foodIngredients}" name="ingredients" class="ingredients" multiple>
  		<option th:each="ingredient: ${ingredients}" th:value="${ingredient.id}" th:text="${ingredient.name}"></option>
  	</select>
  	<select name="chosen-ingredients" class="chosen-ingredients" multiple>
  	</select>
  	<input type="button" value="Lisää aineksiin" onclick="chooseIngredient();">
    <input type="button" value="Poista aineksista" onclick="removeIngredient();">
  </div>
    <div class="form-group">
    <label for="preparation">Valmistusohjeet</label>
    <input type="text" th:field="*{preparation}" class="form-control" placeholder="Kerro miten ruoka valmistetaan">
  </div>
  <div class="form-group">
    <label for="linkToWebpage">Anna linkki reseptin sivulle, jos semmoinen on</label>
    <input type="text" th:field="*{linkToWebpage}" class="form-control" placeholder="Esim. www.jussin-makoisat-herkut.fi" value="">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
<script>
function chooseIngredient()
{
    var chosen = $('.ingredients option:selected');
    chosen.appendTo('.chosen-ingredients');
}

function removeIngredient()
{
    var chosen = $('.chosen-ingredients option:selected');
    chosen.appendTo('.ingredients');
}
</script>
</html>