<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymelead.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Ruokalista app | By Unkkis</title>
	<meta charset="UTF-8" />
 	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>




		<div class="container" >
			<div class="col text-center">
				<p></p>
				<p></p>
				<a href="/logout" class="btn btn-primary">Kirjaudu ulos</a>
			</div>
		</div>
</body>
</html>