<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymelead.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Ruokalista app | By Unkkis</title>
	<meta charset="UTF-8" />
 	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
	<div class="row justify-content-start">
		<div class="col-lg-4">
			<a href="/logout" class="btn btn-primary">Kirjaudu ulos</a>
		</div>
		<div class="col-lg-8">
			<h3>Moikka [[${#httpServletRequest.remoteUser}]]! Tervetuloa ruokalista Appiin</h3>
		</div>

	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg py-5">
			<a href="/allRecipes" class="btn btn-primary">Täältä näet kaikki reseptit</a>
			<p></p>
			<a href="/add" class="btn btn-primary"  sec:authorize="hasAuthority('ADMIN')">Reseptin lisäys</a>
			<p></p>

		</div>
		<div class="col-lg py-5">
			<p>Tässä appsissa voit luoda ruokalistoja. Appsiin on myös API, jos haluat tehdä jotain muuta kivaa tämän päälle.</p>
		</div>
		<div class="col-lg">
			<img src="/images/JSON.png" alt="Json string" style="width:100%;">
		</div>
	</div>

</div>

</body>
</html>